@charset "utf-8";

.ztree li span.button.pIcon01_ico_open{
	margin-right:2px;
	background-image:url(../images/icon_01.png);
	background-repeat:no-repeat;
	background-size:16px 16px;
	vertical-align:top; 
	*vertical-align:middle;}
.ztree li span.button.pIcon01_ico_close{
	margin-right:2px;
	background-image:url(../images/icon_01.png);
	background-repeat:no-repeat;
	background-size:16px 16px;
	vertical-align:top; 
	*vertical-align:middle;}
.ztree li span.button.icon01_ico_docu{
	margin-right:2px;
	background-image:url(../images/icon_02.png);
	background-repeat:no-repeat;
	background-position:center 50%;
	background-size:24px 24px;
	vertical-align:top; 
	*vertical-align:middle;}
