@charset "utf-8";
/* CSS Document */
a{
	cursor:pointer;}
body{
	font-family:"Microsoft YaHei";}
.center{
	text-align:center;
	}
.navbar-wrapper{
	height:80px;
	width:100%;
	background:#FFF;
	position:relative;
	z-index:100;
	box-shadow:0px 1px 3px 0px rgba(0,0,0,0.3);
	border-top:2px #ff9000 solid;
	}
.header{
	width:960px;
	height:78px;
	margin:0 auto;
	overflow:hidden;
	}
.header img{
	display:inline-block;
	margin-top:10px;
	}
.header span{
	font-size:20px;
	color:#707070;
	line-height:70px;
	margin-left:20px;
	position:relative;
	top:5px;}
.menu{
	display:inline-block;
	margin-left:80px;
	position:relative;
	top:10px;}
.menu a{
	color:#707070;
	font-size:16px;
	padding:5px 20px;}
.menu a:hover{
	color:#ff9000;
	text-decoration:none;}
.menu a.this{
	color:#ff9000;}
.user{
	display:inline-block;
	float:right;
	color:#CCC;
	margin-top:35px;}
.user a{
	color:#707070;
	margin:0 3px;}
.cont_970{
	width:970px;
	margin:50px auto;}
.cont_pad{
	padding:0 25px; 
	overflow:hidden; 
	clear:both;}

/*login*/
.login_bg{
	width:100%;
	height:auto;
	position:relative;
	margin-top:9%;
	}
.login{
	width:360px;
	height:400px;
	margin:50px auto 0 auto;}
.logo_bottom_bg{
	width:100%;
	height:45px;
	margin-top:50px;
	background:url(../images/logo_bottom_bg.png) center top no-repeat;}
.radius_img{
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-moz-box-shadow:0 0 9px #000;             
	-webkit-box-shadow:0 0 9px #000;            
	box-shadow:0 0 9px #000;
	display:block;         
	margin:0 auto;}
.radius_line{
	width:360px;
	height:54px;
	background:url(../images/login_radius.png) center top no-repeat;
	margin:-40px 0 0 2px;}
.login_account{
	width:360px;
	margin-left:2px;
	border-bottom-left-radius:4px;
	-moz-border-bottom-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	-moz-border-bottom-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	}
.login_account ul{
	padding:20px 0px 25px 0px;
	background:url(../images/login_bg_inner.png) center top repeat-y;}
.login_account ul li.login_account_wr{
	border:1px solid #f0e08b;
	background:#fcf8e3;
	color:#c0ac42;
	height:30px;
	margin-bottom:10px;
	line-height:30px;
	text-indent:10px;
	display:block;
	}
.login_account ul li{
	width:300px;
	height:40px;
	border:1px solid #cfcfcf;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	margin:10px auto;
	position:relative;
	-moz-box-shadow:0 0 4px #CCC inset;             
	-webkit-box-shadow:0 0 4px #CCC inset;            
	box-shadow:0 0 4px #CCC inset;
	overflow:hidden;       
	}
.login_account ul li.activation{
	border-color:#89d0f3;
	background:#d7f1f7;}
.login_account ul li.activation span{
	background-position:0 -40px;}
.login_account ul li.activation span.login_buttom_two{
	background-position:0 -40px;}
.login_account ul li.activation input{
	background:#d7f1f7;
	color:#666;}
	
.login_account ul li.wrong{
	border-color:#e95b78;
	background:#e7aaaf}
.login_account ul li.wrong span{
	background-position:center bottom;}
.login_account ul li.wrong span.login_buttom_two{
	background-position:center bottom;}
.login_account ul li.wrong input{
	background:#e7aaaf;
	color:#e95b78;}
	
.login_account ul li span{
	border-top-left-radius:4px;
	-moz-border-top-left-radius:4px;
	-webkit-border-top-left-radius:4px;
	border-bottom-left-radius:4px;
	-moz-border-bottom-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	width:50px;
	height:40px;
	background:url(../images/icon_username.png) no-repeat #f5f5f5;
	display:block;
	float:left;}
.login_account ul li span.login_buttom_two{
	background:url(../images/icon_password.png) no-repeat #f5f5f5;
	}
.login_account ul li input{
	width:247px;
	height:36px;
	border:none;
	font-size:14px;
	margin-top:1px;
	float:left;
	text-indent:5px;
	color:#666;}
.btn_click{
	width: 344px;
	height: 50px;
	margin-bottom: -10px;
	background: rgb(25,124,178);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
	border: none;
	margin-left: 8px;
	color:#fff;
	text-align:center;
	line-height:50px;
	font-size:14px;
	position:relative;
	top:-10px;
	}
.btn_click:hover{
	color:#fff;}
/*login end*/

/*new*/
.cont_970 h2{
	color:#333;
	font-size:18px;
	line-height:30px;
	margin:10px 0;}
.blcok_outer{
	width:100%;
	height:300px;}
.block_cont{
	line-height:220px;
	text-align:center;
	font-size:30px;
	color:#fff;
	}
.block_cont_a{
	background:#f8b8a4;}
.block_cont_b{
	background:#f9d8a1;}
.block_cont_c{
	background:#b9eaf8;}
.ih-item.circle .img.block_cont_a:before{
	box-shadow: inset 0 0 0 16px #f9c6b6;
	}
.ih-item.circle .img.block_cont_b:before{
	box-shadow: inset 0 0 0 16px #fae0b4;
	}
.ih-item.circle .img.block_cont_c:before{
	box-shadow: inset 0 0 0 16px #c7eef9;
	}
.block_cont_a.this{
	background:#f07f5a;}
.block_cont_b.this{
	background:#f5be65;}
.block_cont_c.this{
	background:#7ed6ef;}
.ih-item.circle .block_cont_a.this:before{
	box-shadow: inset 0 0 0 16px #f9a286;}
.ih-item.circle .block_cont_b.this:before{
	box-shadow: inset 0 0 0 16px #f9d8a2;}
.ih-item.circle .block_cont_c.this:before{
	box-shadow: inset 0 0 0 16px #b9eaf8;}
.ih-item.circle.effect3 .info p{
	border-top:none;
	color:#999;
	font-style:normal;
	}
.ih-item.circle.effect3 .info h3{
	height:90px;
	color:#666;
	text-shadow:none;
	}
.left{
	float:left;
	}
.blk{
	display:block;
	}
.in_blk{
	display:inline-block;}
.each_block{
	margin:50px;}
.btn_radius_all{
	border-radius:5px;}
.ih-item.circle.effect3 .info{
	background:#E6E6E6;}

/*admin*/
.cont_full{
	width:100%;
	padding:50px 2%;}
.table td,.table th{
	text-align:center;}
.table.dataTable thead th, table.dataTable thead td{
	border-bottom:1px solid #ddd;}
.table.dataTable.no-footer{
	border-bottom:1px solid #ddd;}
.dataTables_wrapper .dataTables_filter input{
	border-radius:4px;}
.dataTables_wrapper .dataTables_paginate .paginate_button{
	border-radius:4px;}
table .glyphicon{
	position:relative;
	top:3px;
	left:10px;}
table.dataTable tbody th, table.dataTable tbody td{
	line-height:33px;}

/*tree*/
.nav-img{
	display:block;
	float:left;
	margin:10px 10px 0 0;
	}
.navbar-wrapper .left{
	color:#999;
	font-size:28px;
	line-height:80px;
	font-weight:normal;
	width:420px;
	float:left;
	}
.navbar-wrapper .left .left-word {
	font-size: 26px;
	color: #ef8633;
	}
.navbar-wrapper .left .right-word {
	font-size: 22px;
	}
.tree_menu{
	width:300px;
	height:400px;
	border-right:1px solid #F0F0F0;
	box-shadow:0px 1px 1px #919191;
	padding:10px;
	overflow:hidden;
	overflow-y:auto;
	position:fixed;
	background:#fff;
	background:#F2F2F2;
	border-bottom-right-radius:4px;
	border-top-right-radius:4px;
	top:180px;
	left:30px;}
.tree_cont{
	float:left;
	width: calc(100% - 320px);
	margin-left:320px;
	height:100px;
	margin-top:10px;
	overflow:hidden;
	overflow-y:auto;}
.ztree li{
	margin:3px 0;}
	
.btn_tree_open_close{
	position: fixed;
	top: 153px;
	left: 30px;
	z-index: 1001;
	font-size: 17px;
	padding:0 4px;}
.tree_cont_title{
	font-size:14px;
	line-height:50px;
	overflow:hidden;}
.tree_cont_title div{
	float:left;
	margin-right:10px;}
.tree_cont_title div:last-child{
	padding:0 30px;}
.tree_cont_btn_outer{
	width:100%;
	overflow:hidden;
	margin:20px 0;}	
.tree_cont_btn_outer a{
	margin-right:10px;}	
.odin_check_outer{
	padding:0 20px;}
	
.tree_sec_menu{
	width:100%;
	margin:0;
	padding:0;
	overflow:hidden;
	background:#f5f5f5;
	padding:10px 0;
	border-radius:4px;}	
.tree_sec_menu li{
	width:100px;
	display:block;
	float:left;
	border-right:1px solid #ccc;
	color:#2a6496;
	text-align:center;
	cursor:pointer;}	
.tree_sec_menu li:hover{
	color:#000;}
.tree_sec_menu li.active{
	color:#000;
	cursor:auto;}	
.tree_sec_menu li:last-child{
	border-right:none;}	

.tag_textarea{
	width:400px;
	margin-top:20px;
	resize:none;}	
textarea.form-control{
	height:250px;}	

.tag_select{
	width:400px;
	padding:10px;}	
.tag_select_outer{
	border:1px solid #ccc;
	overflow:hidden;
	float:left;
	border-radius:4px;
	margin-top:20px;}	
.tag_select_outer h3{
	background:#F3F3F3;
	color:#000;
	line-height:30px;
	margin:0;
	font-size:14px;
	padding-left:10px;}	
.tag_btn_outer{
	width:400px;
	overflow:hidden;
	clear:both;}	
.tree_new_tr{
	animation: myfirst 3s;}	
@keyframes myfirst
{
	from {background: #333;}
	to {background: #fff;}
}
	