<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>服务树</title>
    
        <!-- Bootstrap core CSS -->
        <link href="../../static//css/bootcss/css/bootstrap.css" rel="stylesheet">
        <link href="../../static/lib/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
        <link href="../../static/lib/DataTables/media/css/jquery.dataTables.css" rel="stylesheet">
        <link href="../../static/css/base.css" rel="stylesheet">
        <link href="../../static/css/page.css" rel="stylesheet">
        <link href="../../static/css/forTree.css" rel="stylesheet">
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <style>
			body,h2,h3,h4,h5,h6,p,a{
				font-family:"Microsoft YaHei";}
        </style>
        <script data-main="../../static/lib/main" src="../../static/lib/require.js"></script>
        
  </head>
  <body>
        
        <div class="navbar-wrapper">
        	<div class="" style="background:none; padding-left:20px;">
            	<img class="nav-img" src="../../static/images/Odin.jpg" height="50">
                <div class="left">
                    <span class="left-word">运维平台</span>
                </div>
                {{template "menu" .}}
            </div>
        </div>
        
        <div class="cont_pad mt20" style="padding-bottom:5px; padding-top:5px;">
            
            <div class="tree_cont">
            	<!--  内容区域  -->
                <!--<div class="btn-group">
                    <a class="btn btn-default active">Tag变更</a>
                    <a class="btn btn-default">初始化Tag</a>
                </div>-->
                <ul class="tree_sec_menu">
                    <li><a href="/tag">Tag变更</a></li>
                    <li class="active">初始化Tag</li>
                </ul>
                
                <div class="odin_check_outer">
                    
                    <div class="odin_check_inner">
                    	<textarea class="form-control tag_textarea left" placeholder="机器列表，一行一台机器(需验证！)"></textarea><!--  1111&#10;2222  -->
                        <a class="btn btn-default left ml10 mr10" id="btn_check_result" style="margin-top:130px;" title="验证">
                            <span class="glyphicon glyphicon-arrow-right"></span>
                        </a>
                        <textarea class="form-control tag_textarea left" disabled placeholder="验证结果"></textarea>
                        <div class="tag_select_outer mb20 clear">
                        	<h3>选择 tag</h3>
                            <div class="tag_select">
                                <!--<input type="text" class="form-control" id="tag" list="tag_list" autocomplete="off">
                                <datalist id="tag_list" style="display:none;">
                                    <option value="aaa">aaa</option>
                                    <option value="bbb">bbb</option>
                                    <option value="ccc">ccc</option>
                                    <option value="ddd">ddd</option>
                                </datalist>-->
                                <form class="form-horizontal" role="form" id="tag_form">
                                	<!--  隐藏一个做复制  -->
                                	<div class="form-group" id="clone-list" style="display:none;">
                                        <label for="inputEmail3" class="col-sm-2 control-label"></label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="" name="">
                                            </select>
                                        </div>
                                    </div>
                                    <!--  end  -->
                                    {{range $key,  $val := .Tags}}
                                    <div class="form-group">
                                      <label class="col-sm-2 control-label">{{$val.Key}}</label>
                                        <div class="col-sm-10">
                                          <select class="form-control my_select" id="{{$val.Key}}" name="{{$val.Key}}">
                                            {{range $key,  $value := $val.Value}}
                                            <option value="{{$value}}">{{$value}}</option>
                                            {{end}}
                                            </select>
                                        </div>
                                    </div>
                                    {{end}}
                                </form>
                                <p>
                                    <a class="btn btn-default right mb10" id="add_list" title="新增一条">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                </p>
                            </div>
                        </div>
                        
                        <p class="tag_btn_outer"><a class="btn btn-primary right">确定</a></p>
                    </div>
                    
                </div>
                
                
            </div>
            
        </div>
        
        
        
        <!--<a class="btn_tree_open_close btn btn-default" id="tree_btn_falg">
        	<span class="glyphicon glyphicon-th-list"></span>
        </a>	
        <div class="tree_menu">
            <ul id="treeDemo" class="ztree"></ul>
        </div>-->
        <script type="text/ecmascript">
			require.config({
				paths: {
					zTree: "zTree/js/jquery.ztree.core-3.5",
					vtree: "../js/v-tree"
				},
				shim: {
					"zTree": {
						deps: ["jquery"],
						exports: 'jQuery.fn.zTree'
					}
				}
			});
			
			require(['jquery', 'zTree', 'milk', 'vtree', 'datatables'],function($, zTree, mlik, vtree, datatables){
				$(document).ready(function(){
					
					vtree.init();
					
					mlk.editSelect({
						dom: [$('.my_select')],
						isdele: false
					});
					
					var globleNum = 0;//添加select id为了mlk.editSelect 插件遍历
					$('#add_list').bind('click',function(){
						var Myselect = '<select class="form-control" id="tag_name"><option value="1">1</option><option value="2">2</option></select>',
							addList = '<div style="padding:0 10px;"><form class="form-horizontal" role="form"><div class="form-group"><label for="input1" class="col-sm-2 control-label">tag key</label><div class="col-sm-8">' + Myselect + '</div></div><div class="form-group"><label for="input1" class="col-sm-2 control-label">tag value</label><div class="col-sm-8"><input type="text" class="form-control" id="tag_mess" placeholder="以逗号隔开"></div></div></form></div>';
						mlk.alertBox({
							title: '新增 tag',
							html: addList,
							btnfunc: function(obj){
								var tagName = obj.parents('.mlk-alert-box-inner').find('#tag_name');
								if(tagName.val()){
									var tagNameVal = tagName.val(),
										tagMessVal = obj.parents('.mlk-alert-box-inner').find('#tag_mess').val(),
										listArray = tagMessVal.split(',');
									var newLsit = $('#clone-list').clone();
									newLsit.find('label').text(tagNameVal);
									var allOption = '';
									for(var i = 0; i < listArray.length; i++){
										var newOption = '<option value="' + listArray[i] + '">' + listArray[i] + '</option>';	
										allOption += newOption;
									}
									globleNum ++;
									var tagId = 'new_tag' + globleNum;
									newLsit.find('select').html(allOption).attr({'id':tagId,'name':tagId});
									$('#tag_form').append(newLsit);
									newLsit.slideDown();
									mlk.editSelect({
										dom: [newLsit.find('select')]	
									});
								}
							}	
						});	
					});
					
					//弹出 加载value
					$(document).on('change','#tag_name',function(){
						
					});
					
				});
			
			});
			
        </script>
        
  </body>
  
</html>
