<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>服务树</title>
    
        <!-- Bootstrap core CSS -->
        <link href="../../static//css/bootcss/css/bootstrap.css" rel="stylesheet">
        <link href="../../static/lib/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
        <link href="../../static/lib/DataTables/media/css/jquery.dataTables.css" rel="stylesheet">
        <link href="../../static/css/base.css" rel="stylesheet">
        <link href="../../static/css/page.css" rel="stylesheet">
        <link href="../../static/css/forTree.css" rel="stylesheet">
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <style>
			body,h2,h3,h4,h5,h6,p,a{
				font-family:"Microsoft YaHei";
            }
        </style>
        <script data-main="../../static/lib/main" src="../../static/lib/require.js"></script>
        
  </head>
  <body>
        
        <div class="navbar-wrapper">
        	<div class="" style="background:none; padding-left:20px;">
            	<img class="nav-img" src="../../static/images/Odin.jpg" height="50">
                <div class="left">
                    <span class="left-word">运维平台</span>
                </div>
                {{template "menu" .}}
            </div>
        </div>
        
        <div class="cont_pad mt20" style="padding-bottom:5px; padding-top:5px;">
            
            <div class="tree_cont">
            	<!--  内容区域  -->
                <ul class="tree_sec_menu" id="check_tab">
                    <li class="active">监控列表</li>
                    <li>监控展示</li>
                    <li>监控添加</li>
                </ul>
                
                <div class="odin_check_outer">
                    <div class="tree_cont_title"><div>节点空间(ns)：</div><div id="machine_drop"></div></div>
                
                    <div class="odin_check_inner" isshow="yes">
                        <p class="mt20"><a class="btn btn-default" id="remove_sys">批量删除</a>
                        <table class="table table-bordered">
                            <thead>
                                <tr class="active">
                                    <th><input type="checkbox"></th>
                                    <th>监控名</th>
                                    <th>类别</th>
                                    <th>查询</th>
                                </tr>
                            </thead>
                            <tbody id="sys_list">
                                <!--<tr>
                                    <td><input type="checkbox"></td>
                                    <td>api.nginx.status</td>
                                    <td>aa</td>
                                    <td><a class="sys_mess">监控详情</a></td>
                                </tr>-->
                                
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="odin_check_inner" isshow="no" style="display:none;">11</div>
                    <div class="odin_check_inner" isshow="no" style="display:none;">222</div>
                    
            	</div>
                	
            </div>
            
        </div>
        
        <input type="hidden" id="hierarchy" value="{{.Hierarchy}}">
        <input type="hidden" id="resource" value="{{.Resource}}">
        
        <!--<a class="btn_tree_open_close btn btn-default" id="tree_btn_falg">
        	<span class="glyphicon glyphicon-th-list"></span>
        </a>	
        <div class="tree_menu">
            <ul id="treeDemo" class="ztree"></ul>
        </div>-->
        
        
        <script type="text/ecmascript">
			require.config({
				paths: {
					zTree: "zTree/js/jquery.ztree.core-3.5",
					vtree: "../js/v-tree"
				},
				shim: {
					"zTree": {
						deps: ["jquery"],
						exports: 'jQuery.fn.zTree'
					}
				}
			});
			
			require(['jquery', 'zTree', 'milk', 'vtree', 'datatables'],function($, zTree, mlik, vtree, datatables){
				$(document).ready(function(){
					
					vtree.init();
					
					//拉取table
					/*mlk.ajax({
						method: 'GET',
						url: '/v1/monitor/',
						data: null, 
						isloading: true,
						callback: function(da){
							if(da){
								var tbodyTr = '';
								for(var i = 0;i < da.length; i++){
									var html = '<tr id="' + da[i].Id + '"><td><input type="checkbox"></td><td>' + da[i].Name + '</td><td>' + da[i].Type + '</td><td><a class="sys_mess">监控详情</a></td></tr>';	
									tbodyTr += html;
								}
								$('#sys_list').html(tbodyTr);
								$('.table').DataTable();
								mlk.tableInverse({//启动table全选反选
									dom: $('.table')	
								});
							}
						}
					});*/
					
					//显示详情
					$('.table').on('click','.sys_mess',function(){
						var thisId = $(this).parents('tr').attr('id');
						mlk.ajax({
							method: 'GET',
							url: '/v1/monitor/' + thisId,
							data: null, 
							isloading: true,
							callback: function(da){
								if(da){
									var alertHtml = '<div style="padding:0 10px; margin-bottom:10px;"><table class="table table-bordered"><thead><tr class="active"><th>ID</th><th>name</th><th>type</th><th>comment</th></tr></thead><tbody><tr><td>' + da.Id + '</td><td>' + da.Name + '</td><td>' + da.Type + '</td><td>' + da.Comment + '</td></tr></tbody></table></div>';
									mlk.alertBox({
										title: '详情',
										html: alertHtml,
										btnfunc: function(obj){}
									});
								}
							}
						});
					});
					
					//监听点坐标的变化
					$('#machine_drop').bind('DOMNodeInserted',function(e){
						var thisText = $(this).text(),
							resourceVal = $('#resource').val();
						mlk.ajax({
							method: 'GET',
							url: '/v1/resource/' + thisText , 
							data: null, 
							isloading: true,
							callback: function(da){
								if(da){
									var tbodyTr = '';
									for(var i = 0;i < da.length; i++){
										var html = '<tr id="' + da[i].Id + '"><td><input type="checkbox"></td><td>' + da[i].Name + '</td><td>' + da[i].Type + '</td><td><a class="sys_mess">监控详情</a></td></tr>';	
										tbodyTr += html;
									}
									$('#sys_list').html(tbodyTr);
									$('.table').DataTable();
									mlk.tableInverse({//启动table全选反选
										dom: $('.table')	
									});
								}	
							}
						});
					});

				});
			});




            
            
        </script>
        
  </body>
  
</html>
