<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>服务树</title>
    
        <!-- Bootstrap core CSS -->
        <link href="../../static//css/bootcss/css/bootstrap.css" rel="stylesheet">
        <link href="../../static/lib/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
        <link href="../../static/lib/DataTables/media/css/jquery.dataTables.css" rel="stylesheet">
        <link href="../../static/css/base.css" rel="stylesheet">
        <link href="../../static/css/page.css" rel="stylesheet">
        <link href="../../static/css/forTree.css" rel="stylesheet">
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <style>
			body,h2,h3,h4,h5,h6,p,a{
				font-family:"Microsoft YaHei";}
        </style>
        <script data-main="../../static/lib/main" src="../../static/lib/require.js"></script>
        
  </head>
  <body>
        
        <div class="navbar-wrapper">
        	<div class="" style="background:none; padding-left:20px;">
            	<img class="nav-img" src="../../static/images/Odin.jpg" height="50">
                <div class="left">
                    <span class="left-word">运维平台</span>
                </div>
                {{template "menu" .}}
            </div>
        </div>
        
        <div class="cont_pad mt20" style="padding-bottom:5px; padding-top:5px;">
            
            <div class="tree_cont">
            	<!--  内容区域  -->
                <div class="tree_cont_title"><div>节点空间(ns)：</div><div id="machine_drop"></div></div>
                
                <p class="tree_cont_btn_outer">
                	<a class="btn btn-default" id="bulk_import">批量导入</a>
                    <a class="btn btn-default" id="bulk_production">批量下线</a>
                    <a class="btn btn-default" id="adjustment">节点调整</a>
                </p>
                
                <table class="table table-bordered">
                	<thead>
                    	<tr class="active">
                        	<th width="5%"><input type="checkbox"></th>
                            <th>机器名</th>
                            <th>查询</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="machine_table">
                    </tbody>
                </table>
                    
            </div>
            
        </div>
        
        <input type="hidden" id="hierarchy" value="{{.Hierarchy}}">
        <input type="hidden" id="resource" value="{{.Resource}}">
        
        <!--<a class="btn_tree_open_close btn btn-default" id="tree_btn_falg">
        	<span class="glyphicon glyphicon-th-list"></span>
        </a>	
        <div class="tree_menu">
            <ul id="treeDemo" class="ztree"></ul>
        </div>-->
        
        
        <script type="text/ecmascript">
			require.config({
				paths: {
					zTree: "zTree/js/jquery.ztree.core-3.5",
					vtree: "../js/v-tree"
				},
				shim: {
					"zTree": {
						deps: ["jquery"],
						exports: 'jQuery.fn.zTree'
					}
				}
			});
			
			require(['jquery', 'zTree', 'milk', 'vtree', 'datatables'],function($, zTree, mlik, vtree, datatables){
				$(document).ready(function(){
					
					vtree.init();
					
					var myDatatable;//datatable对象
					
					//拉取table
					/*mlk.ajax({
						method: 'GET',
						url: '/v1/machine/' + $('#machine_drop').text(),
						data: null, 
						isloading: true,
						callback: function(da){
							if(da){
								var tableTr = '';
								for(var i = 0; i < da.length; i++){
									var html = '<tr id="' + da[i].Id + '"><td><input type="checkbox"></td><td>' + da[i].Name + '</td><td><a class="mach_mess">机器详情</a></td><td><a class="mach_name">机器改名</a></td></tr>';
									tableTr += html;	
								}
								$('#machine_table').html(tableTr);
								myDatatable = $('.table').DataTable();
								mlk.tableInverse({//启动table全选反选
									dom: $('.table')	
								});	
							}	
						}
					});*/
					
					//批量导入
					$('#bulk_import').bind('click',function(){
						var alertHtml = '<div style="padding:0 10px;"><textarea class="form-control tag_textarea mb10" placeholder="机器列表，一行一台机器" style="width:100%;margin-top:10px;"></textarea></div>';
						mlk.alertBox({//启动弹窗
							title: '批量导入',
							html: alertHtml,
							btnfunc: function(obj){
								
							}
						});
					});
					
					//节点调整
					$('#adjustment').bind('click',function(){
						var alertHtml = '';
						mlk.alertBox({//启动弹窗
							title: '节点调整',
							html: alertHtml,
							btnfunc: function(obj){
								
							}
						});	
					});
					
					//监听节点坐标的变化
					$('#machine_drop').bind('DOMNodeInserted',function(e){
						var thisText = $(this).text(),
							resourceVal = $('#resource').val();
						mlk.ajax({
							method: 'GET',
							url: '/v1/resource/' + thisText , 
							data: null, 
							isloading: true,
							callback: function(da){
								if(da){
									var tableTr = '';
									for(var i = 0; i < da.length; i++){
										var html = '<tr id="' + da[i].Id + '"><td><input type="checkbox"></td><td>' + da[i].Name + '</td><td><a class="mach_mess">机器详情</a></td><td><a class="mach_name">机器改名</a></td></tr>';
										tableTr += html;	
									}
									$('#machine_table').html(tableTr);
									myDatatable = $('.table').DataTable();
									mlk.tableInverse({//启动table全选反选
										dom: $('.table')	
									});	
								}	
							}
						});
					});
					
				});
			
			});
			
        </script>
        
  </body>
  
</html>
